.input{
    border-width: 1px;
    width: 370px;
    height: 36px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: grey;
}

.text{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 8px;
}